<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular HTTP</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/httpintro.js"></script>
    <script type="text/javascript" src="scripts/services/gif.services.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body ng-app="myApp" ng-controller="HttpController as hc">
        <nav class="navbar-inverse navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img class="omegaLogo" src="http://static.wixstatic.com/media/3b5673_169e7b8473e74ea2a05eba3896c923ea.png" alt="omega Logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav pull-right">
                <li><a class="randBtn" href="#" ng-click="hc.getRandom()">Random .gif</a></li>
                <li><input type="text" ng-model="hc.searchIn" placeholder="Search gifs..." /></li>
                <li><a class="searchBtn" href="#" ng-click="hc.searchGet(hc.searchIn)">Search</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 random">
              <img ng-src="{{ hc.giphy }}" class="img-thumbnail">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 search" ng-repeat="gif in hc.gifList">
              <img ng-src="{{ gif }}" class="img-thumbnail">
            </div>
          </div>
        </div>
  </body>
</html>
